#toplevel_page_feefo-ratings-and-reviews div.wp-menu-image
{
    background-image: url('../images/menu_icon28x28.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 0 0 0;
}