div#plugin-setup-div {
    text-align:center;
    margin-top:50px;
}

h1#plugin-setup-h1 {
    font: normal 29px Arial;
    margin-bottom:25px;
    color: #484545;
}

a#plugin-setup-a {
    background-color: #00B0EB;
    padding: 10px 50px;
    font: bold 14px Arial;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    height:50px;
}